body {
  margin: 0;
  background-color: whitesmoke;
}

.dasboard__container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.side__nav {
  display: flex;
  flex-direction: column;
  // justify-content: flex-end;
  // align-items: flex-end;
  height: 100vh;
  width: 6rem;
  // background-color: green;
  box-shadow: 0 4px 8px -4px rgba(0,0,0,.1);
  border: #dadce0 1px solid;
  padding: 1rem;

  a {
    height: 8rem;
    margin-right: 2rem;
    margin-bottom: 1rem;
  }

  a:last-child {
    margin-right: 4rem;
    i {
      font-size: 1.2rem;
      color: grey;
    }
  }
}

.add__shipment__card {
  width: 35rem;
  // box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 3px 1px -2px rgba(0,0,0,0.12), 0 1px 5px 0 rgba(0,0,0,0.2);
  box-shadow: 0 4px 8px -4px rgba(0,0,0,.1);
  border: #dadce0 1px solid;
  overflow: auto;
  padding: 2rem;

  h4 {
  }
}

.add__shipment__form {
}

.logo {
    width: 100%;
    margin-top: 20%;
    margin-bottom: 20%;

    img {
        width: 130%;
        padding: auto ;
    }
}

.upload__pfi__section {
  display: flex;
}

.upload__pfi__section__form {

  div:first-child {
    margin-top: 1rem;
    margin-bottom: 1rem;
  }

  button {
    width: 100%;
    margin-top: 0.5rem;
  }
}
