

body {
  margin: 0;
  background-color: whitesmoke;
  font-family: 'IBM Plex Sans', sans-serif;
  line-height: 1.3em;
  font-weight: 300;
  
  -webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

h1,
h2,
h3 {
  font-family: 'IBM Plex Serif', sans-serif;
  font-weight: 300;
}

p {
  margin: 0 0 1em;
}

$timeline--background: #263238;
$timeline--text: #fff;

h1,
h2,
h3 {
  font-family: 'IBM Plex Serif', sans-serif;
  font-weight: 300;
}

p {
  margin: 0 0 1em;
}

.m-content {
  max-width: 1100px;
  margin: 0 auto;
  margin-left: 2rem;
  
  h2 {
    font-size: 2.2rem;
    line-height: 1.3em;
    margin: 0 0 .2em;
  }
}

.m-timeline {
  position: relative;
  list-style: none;
  padding: 0;
  width: 100%;
  background-color: navy;
  color: #fff;
  margin: 48px 48px 0 0;
    
  li {
    position: relative;
    padding: 10px 0 20px 50px;
    transition: all 100ms;
    width: 100%;
    height: 9rem;
    
    &::before,
    &::after {
      transition: all 100ms;
    }
    
    &::before {
      display: block;
      content: '';
      position: absolute;
      top: 7px;
      left: 0;
      z-index: 2;
      background-color: green;
      width: 25px;
      height: 25px;
      border-radius: 50%;
      border: 5px solid $timeline--background;
    }
    
    &::after {
      content: '';
      display: block;
      width: 1px;
      background-color: #fff;
      position: absolute;
      top: 0;
      left: 12px;
      height: 100%;
      z-index: 1;      
    }
    
    &:first-child::after {
      top: 15px;
    }
    
    &:last-child::after {
      height: 15px;
    }
  }
  
  &__date {
    font-size: .8em;
    margin: 0 0 .3em;
    color: rgba(255, 255, 255, .7);
  }
  
  p {
    margin: 0 0 .5em;
  }
  
  @media (min-width: 800px) {
    li {
      &:nth-child(odd) {
        text-align: right;
        padding-left: 0;
        padding-right: calc(50% + 50px);
      }
      
      &:nth-child(even) {
        padding-left: calc(50% + 20px);
      }
      
      &::before {
        left: calc(50% - 25px);
      }
      
      &::after {
        left: calc(50% - 13px);
      }
    }
  }
}



.dasboard__container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.shipment__container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.side__nav {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-content: space-between;
  height: 100vh;
  width: 6rem;
  // background-color: green;
  box-shadow: 0 4px 8px -4px rgba(0,0,0,.1);
  border: #dadce0 1px solid;
  padding: 1rem;

  a {
    height: 8rem;
    margin: auto;

    i {
      font-size: 2rem;
    }
  }

  div {
    text-align: center;
  }

  hr {
    width: 100%;
  }

  a:last-child {
    i {
      font-size: 1.2rem;
      color: grey;
    }
  }
}

.add__shipment__card {
  width: 35rem;
  // box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 3px 1px -2px rgba(0,0,0,0.12), 0 1px 5px 0 rgba(0,0,0,0.2);
  box-shadow: 0 4px 8px -4px rgba(0,0,0,.1);
  border: #dadce0 1px solid;
  overflow: auto;
  padding: 2rem;

  h4 {
  }
}

.add__shipment__form {
}

.logo {
    width: 100%;
    margin-top: 20%;
    margin-bottom: 20%;

    img {
        width: 130%;
        padding: auto ;
    }
}

.upload__pfi__section {
  display: flex;
}

.upload__pfi__section__form {

  div:first-child {
    margin-top: 1rem;
    margin-bottom: 1rem;
  }

  button {
    width: 100%;
    margin-top: 0.5rem;
  }
}

.landing {
  padding-top: 20vh;
}

.center {
  text-align: center;
}
@media (min-width: 768px){
  .landing {
    padding-top: 33vh;
  }
}

.shipment-list {
  display: grid;
  grid-area: 2 / 1 / span 1 / span 1;
  grid-template: 11.5rem 11.5rem 11.5rem / 21rem 21rem 21rem;
  grid-gap: 2rem 1rem;
  height: 32rem;
  overflow-y: auto;
  overflow-x: hidden;
  padding-top: 1.5rem;
  margin-bottom: 1rem;
}

.table__section {
  width: 100%;
  margin: 2rem;
}

.shipmentCard {
  width: 19rem;
  height: 11.7rem;
  margin-left: 1rem;
  box-shadow:  0 0.2rem 1.2rem rgba(0, 0, 0, 0.2);
  background: #fff;
  border-radius: 0.2rem;
  display: flex;
  flex-direction: column;
}

.shipmentCardbtn {
  background-color: #eae9e9;
}

.my-search-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.my-form-wrapper {

    width: 30rem;
    padding: 15px;
    background-color: #eaeaea;
    margin-bottom: 3rem;
    border-radius: 10px;
    box-shadow: 0 1px 1px rgba(0,0,0,.4) inset, 0 1px 0 rgba(255,255,255,.2);

    div:first-child {
      display: flex;
      justify-content: space-between;

      input {
        width: 100%;
        margin-right: 1rem;
      }
    }

    div:last-child {
      display: flex;
      flex-direction: row;

      div {
        margin-right: 1rem;
        margin-top: 1rem;
      }
    }
}

.circle {
	margin: 100px auto;
	width: 100px;
	height: 100px;
	position: relative;
}
.circle .child {
	width: 100%;
	height: 100%;
	position: absolute;
	left: 0;
	top: 0;
}
.circle .child:before {
	content: "";
	display: block;
	margin: 0 auto;
	width: 15%;
	height: 15%;
	background-color: #333;
	border-radius: 100%;
	animation: circleBounceDelay 1.2s infinite ease-in-out both;
}
.circle .circle2 {
	transform: rotate(30deg);
}
.circle .circle3 {
	transform: rotate(60deg);
}
.circle .circle4 {
	transform: rotate(90deg);
}
.circle .circle5 {
	transform: rotate(120deg);
}
.circle .circle6 {
	transform: rotate(150deg);
}
.circle .circle7 {
	transform: rotate(180deg);
}
.circle .circle8 {
	transform: rotate(210deg);
}
.circle .circle9 {
	transform: rotate(240deg);
}
.circle .circle10 {
	transform: rotate(270deg);
}
.circle .circle11 {
	transform: rotate(300deg);
}
.circle .circle12 {
	transform: rotate(330deg);
}
.circle .circle2:before {
	animation-delay: -1.1s;
}
.circle .circle3:before {
	animation-delay: -1s;
}
.circle .circle4:before {
	animation-delay: -0.9s;
}
.circle .circle5:before {
	animation-delay: -0.8s;
}
.circle .circle6:before {
	animation-delay: -0.7s;
}
.circle .circle7:before {
	animation-delay: -0.6s;
}
.circle .circle8:before {
	animation-delay: -0.5s;
}
.circle .circle9:before {
	animation-delay: -0.4s;
}
.circle .circle10:before {
	animation-delay: -0.3s;
}
.circle .circle11:before {
	animation-delay: -0.2s;
}
.circle .circle12:before {
	animation-delay: -0.1s;
}

@-webkit-keyframes circleBounceDelay {
	0%,
	80%,
	100% {
		transform: scale(0);
	}
	40% {
		transform: scale(1);
	}
}

@keyframes circleBounceDelay {
	0%,
	80%,
	100% {
		transform: scale(0);
	}
	40% {
		transform: scale(1);
	}
}

.shipmentRow {
  cursor: pointer
}

.shipmentRow:hover {
  background-color: rgba(0,0,0,0.1);
}

